.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.main-content {
  display: flex;
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar-left, .sidebar-right {
  width: 200px;
  padding: 10px;
  background-color: #f1f1f1;
}

.sidebar-left {
  margin-right: 20px;
}

.sidebar-right {
  margin-left: 20px;
}

.content-wrapper {
  flex: 1;
  margin-left: 220px; 
  margin-right: 220px; 
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.newsletter, .chat-popup, .floating-button {
  position: fixed;
  bottom: 20px;
}

.newsletter {
  left: 20px;
}

.chat-popup {
  right: 20px;
}

.floating-button {
  right: 60px;
  bottom: 80px;
}

.floating-button button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
}

